.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pikachu {
    margin-bottom: 20px;
    position: absolute; 
    bottom: 0; 
    animation: walk 8s linear infinite; 
  }
  @keyframes walk {
    0% {
      left: -100px; /* Initial position of Pikachu */
    }
    100% {
      left: calc(100% + 100px); /* Final position of Pikachu, off the screen */
    }
  }  

.start-container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    margin-top: 40px;
    width: 20rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    font-family: Poetsen One;
  
}
.heartright{
    position: absolute;
    top:10px;
    right:20px;
   padding: 5px;
   background-color: #f783ac;
    border:1px solid transparent;
    border-radius: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap:2rem;
    padding: 8px;

}
.go-btn{
    background-color: #62cb74;
    width: 150px;
    height: 30px;
    padding: 10px;
    font-family: Poetsen One;
    border-radius: 4px;
    margin-left: 20px;
}

@media screen  and (max-width:427px) and (min-width:320px){
    .start-container{
        margin-top: 80px;
        width: 15rem;
        padding: 10px;
        
      
    }
    .heartright{
        width: 20px;
    }
}